<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpVectors.Rendering.Wpf" publicKeyToken="d0902381100df30e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpVectors.Model" publicKeyToken="2236cfc76b505845" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.1.1592" newVersion="0.3.1.1592" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpVectors.Core" publicKeyToken="7407205e337c98ef" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.1.1588" newVersion="0.3.1.1588" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpVectors.Dom" publicKeyToken="517340b6277b1a7a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.1.1589" newVersion="0.3.1.1589" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpVectors.Css" publicKeyToken="7a46e3f532fdb787" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.1.1590" newVersion="0.3.1.1590" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>